* {
margin: 0;
padding: 0;
box-sizing: border-box;
}




 
  /* display: grid;
  grid-template-columns: repeat(12, 8.333%);
  grid-template-rows: repeat(12, 8.333%);
  background: rgb(69, 168, 248);
   background:#ccc;
  */
